* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 16px;
    background-color: #2b879e;
    color: #f2e8c4;
    font-family: DynaPuff;
}

header h1 {
    display: inline;
    vertical-align: middle;
}

header img {
    height: 32px;
    vertical-align: middle;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    text-decoration: none;
    color: #f2e8c4;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

section {
    padding: 24px 0;
}

section .container {
    align-items: flex-start;
}

section h2 {
    margin-bottom: 16px;
    font-family: DynaPuff;
    color: #2b879e;
}

section p {
    margin-bottom: 8px;

}

section p,
section ul li {
    font-family: Nunito;
}

section ul li span {
    color: #2b879e;
    font-weight: bold;
}

.img-beach {
    margin-right: 32px;
    border-radius: 5px;
}

#contact {
    background-color: #616668;
    font-family: Nunito;
}

#contact .container {
    display: block;
}

#contact h2 {
    color: #3ec9a7;
}

#contact h3 {
    color: #f2e8c4;
    margin-bottom: 16px;
}

.contact-form {
    display: flex;
    justify-content: space-between;
}

form {
    padding: 15px;
    background-color: #2b879e;
    border-radius: 5px;
}

form input,
form textarea,
form button {
    display: block;
    width: 420px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 5px;
    font-family: Nunito;
}

form input, form textarea {
    border: none;
}

form textarea {
    resize: none;
    height: 180px;
    border-radius: 5px;
    font-family: Nunito;
}

form button {
    background-color: #3ec9a7;
    color: #ecf0f1;
    border: none;
    cursor: pointer;
    font-family: DynaPuff;
    font-size: 16px;
}

video {
    width: 640px;
    height: 365px;
    border-radius: 5px;
}

.social-links li{
    display: inline;
    margin-right: 10px;
}

.social-links a{
    text-decoration: none;
}

.social-links a img{
    height: 32px;
}

.address {
    margin: 15px 0;
}
.address p {
    display: inline;
    vertical-align: middle;
}

.address img {
    height: 24px;
    vertical-align: middle;
}

footer {
    background-color: #2b879e;
    color: #f2e8c4;
    padding: 16px 0;
    font-family: Nunito;
}